

.title {
  margin-bottom: 5px;
  font-family: courier;
  font-size: 100px;
  padding-top: 5px;
}

body {
  background-image: url("/images/gball.jpg");
  padding: 50px;
  font-family: courier;
  width: 925px;
}

.yard-heading {
  font-size: 60px;
}

.yard-adj {
  font-size: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.yard-act {
  font-size: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  font-size: 50px;
}

.extra-stuff {
  margin-top: 150px;
}

.motto {
  margin-top: -10px;
  padding-bottom: 25px;
  font-size: 26px;
  color: #cc0000;
}

div {
  font-size: 40px;
}

.tell-me {
  margin-top: 50px;
  color: #cc0000;
  font-size: 50px;
}

.weather {
  font-size: 12px;
}

.alert {
  color: orange;
}

.factors {
  font-size: 12px;
}
