

.title {
  margin-left: 20%;
  margin-right: 17%;
  margin-bottom: 5px;
  font-family: courier;
  font-size: 80px;
  padding-top: 5px;
}

body {
  background-image: url("/images/gball.jpg");
  padding: 50px;
  font-family: courier;
  width: 925px;
  border-right: 2px black solid
}

.yard-heading {
  font-size: 30px;
  padding-left: 90px;
}

.yard-adj {
  font-size: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 250px;
}

.yard-act {
  font-size: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 300px;
}

a {
  font-size: 50px;
  padding-left: 125px;
}

.extra-stuff {
  
  margin-top: 150px;
}

.motto {
  /*padding-top: -50px;*/
  padding-bottom: 25px;
  font-size: 10px;
  margin-left: 10%;
  margin-right: 10%;
  color: #cc0000;
}


/*<%= @yardage_adj.to_i %>
<%= @yardage_orig %>
<h3><u>The current weather factors for <%= @city %>, <%= @state %></u></h3>
  <p>Temperature:  <%= @temp %> degrees F</p>
  <p>Wind Speed:   <%= @wind %> mph</p><br>*/



/*
.club {
  font-size: 50px;

}

.container {
  border-top: 2px black dashed;
}

.result {
  margin-left: 25%;

}

.club {
  margin-left: 25%;
  font-size: 60px
}



input[type=submit] {
  margin-left: 35%;
  color: #cc0000;
  font-size: 20px;
  margin-top: 7%
}

a {
  margin-left: 37%;
}

.error {
  margin-left: 27%
}

.sorry {
  margin-left: 5%;
}

.suggest {
  margin-left: 4%;
}*/

