<div class="container">


  <div class="extra-stuff">
    <p class="yard-heading">Your adjusted yardage:</p>
    <p class="yard-adj">157</p><br>
    <p class="yard-heading">Actual yardage:</p>
    <p class="yard-act">143</p><br>
  </div>

  

  <a href='/'>Setup another shot</a><br><br>

</div>
