<div class="container">


  <div class="extra-stuff">
    <p class="yard-heading">Your adjusted yardage:</p>
    <p class="yard-adj"><%= @yardage_adj.to_i %></p><br>
    <p class="yard-heading">Actual yardage:</p>
    <p class="yard-act"><%= @yardage_orig %></p><br>
  </div>

  

  <a href='/'>Setup another shot</a><br><br>

</div>
